.html{

background-color: royalblue;
    padding: 0 1em;

}
.body{
            
               background-image:url(sheenandskye.jpg);
            font-family: 'Lato', sans-serif;
            margin: 1em auto;
         
            height: 52.625em;
}
  img{
           border:5px;
        }
 .left{
          width:35%;
            float:left;
            height:100%;
            background-color:aliceblue;
            
            text-align: center;
        }
.right{
        
            width:60%;
            float: right;
            
        }
h3{
        
            font-size: 1.5em;
            text-transform: uppercase;
            font-variant: small-caps;
            font-weight: bold;
            letter-spacing: 0.5em;
           
        }
